*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg-dark--: #000000;
    --bg-light--: #ffffff;
}

#loading{
    position: relative;
    border-radius: 50%px;

}


canvas{
    position: relative;
    z-index: 2;
}
