*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* Plataforma */
    --main-light--: #ca09e4;
    --main-deep--: #4d0476;
    --main-dark--: #a307bb;
    --main-soft-light: #d73af0;
    --main-soft-light-t5: #d73af080;
    --main-p-bg: #4307bbad;
    --main-g-bg: #a36aff;
    --main-t-shadow1: #fbd2fe;
    --main-t-shadow2: #ec95f8;
    --main-t-shadow3: #b66bd3;
    --main-t-shadow4: #7a45a5;
    --main-t-shadow5: #4d0476;
    --main-tm-deep: #6e0c9e;
    --bg--: #303030;
    --letter--: #fff;
    --shadow--: #000;
    /* Jogo */
    --main-color-: #ca09e4;
    --main-color-dark: #a200ff;

    --BG-color: #1b1b1b;
    --BG-shadow: #ffffff6b;

    --white--: #ffffff;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--BG-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    
    & header {
        height: 12.5vh;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: var(--main-light--);
        border-radius: 0 0 5px 5px;
        filter: drop-shadow(2px 2px 4px var(--shadow--));
        z-index: 10;
        transition: all 1s ease;
    
        & nav {
          height: 12.5vh;
          width: 100%;
          display: flex;
    
          & .logoBtn {
            background-color: transparent;
            outline: none;
            border: none;
            cursor: pointer;
    
            & img {
              position: relative;
              display: inline-block;
              height: 11vh;
              filter: drop-shadow(1px 1px 1px var(--shadow--));
            }
          }
    
          & #navbar {
            width: 100%;
            height: 100%;
            padding: 0px 2%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            & .nb_group {
              width: 100%;
    
              & button.navBtn {
                display: inline-block;
                font-size: 3rem;
                color: var(--letter--);
                background-color: transparent;
                text-decoration: none;
                text-transform: capitalize;
                margin: 0 1%;
                padding: 1%;
                transition: all 0.1s linear;
                border: none;
                outline: none;
                filter: drop-shadow(1px 1px 1px var(--shadow--));
              }
    
              & button.navBtn:hover,
              .switch:hover {
                transform: scale(1.1);
              }
            }
    
            & .nb_group2 {
              direction: rtl;
              display: flex;
              align-items: center;
    
              /* From Uiverse.io by satyamchaudharydev */
              /* The switch - the box around the slider */
              & .switch {
                margin-left: 5%;
                display: inline-block;
                --width-of-switch: 3.5em;
                --height-of-switch: 2em;
                /* size of sliding icon -- sun and moon */
                --size-of-icon: 1.4em;
                /* it is like a inline-padding of switch */
                --slider-offset: 0.3em;
                position: relative;
                width: var(--width-of-switch);
                height: var(--height-of-switch);
              }
              /* Hide default HTML checkbox */
              & .switch input {
                opacity: 0;
                width: 0;
                height: 0;
              }
              /* The slider */
              & .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #f4f4f5;
                transition: 0.4s;
                border-radius: 30px;
              }
              & .slider:before {
                position: absolute;
                content: "";
                height: var(--size-of-icon, 1.4em);
                width: var(--size-of-icon, 1.4em);
                border-radius: 20px;
                left: var(--slider-offset, 0.3em);
                top: 50%;
                transform: translateY(-50%);
                background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
                transition: 0.4s;
              }
              & input:checked + .slider {
                background-color: #303136;
              }
              & input:checked + .slider:before {
                left: calc(
                  100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em))
                );
                background: #303136;
                /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
                box-shadow: inset -3px -2px 5px -2px #8983f7,
                  inset -10px -4px 0 0 #a3dafb;
              }
            }
          }
        }
    }
    & main{
        display: flex;
        align-items: center;
        justify-content: center;                                                              
        height: 100%;
        width: 100%;

        & #gameContainer{
            position: relative;
            /* max-width: 1300px;
            max-height: 1100px; */
    
            & #gameControls{
                position: absolute;
                top: 0;
                left: -8vh;
                height: 100%;
                width:  7vh;
            
                display: flex;
                align-items: center;
                justify-content: center;
    
                & #accessible_controls{
                    height: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    
                    & .btn{
                        margin: 10px 0;
                    }
                }
    
                & .btn{
                    padding: 5px;
                    width: 5vh;
                    height: 5vh;
                
                    background-color: var(--white--);
                    border: 1px solid var(--main-color-);
                    border-radius: 8px;
                    transition: all ease .25s;
                
                    cursor: pointer;
    
                    & i{
                        font-size: 1.5rem;
                        color: var(--main-color-dark);
                        transition: all ease .5s;
                    }
                }
    
                & .btn:hover{
                    color: var(--main-color-);
                    transform: scale(1.05);
                    filter: drop-shadow(2px 2px 5px var(--BG-shadow) ) drop-shadow(-2px -2px 5px var(--BG-shadow));
                }
    
                & .active{
                    background-color: var(--main-color-dark);
                    border: 1px solid var(--white--);
                }
    
                & .active:hover{
                    border: 1px solid var(--white--);
                    color: var(--white--);
                }
    
                & .active i, .active:hover i{
                    color: var(--white--);    
                }
            }
    
            & #gameAcessibleContainer{
                position: absolute;
                bottom: 50%;
                left: calc(100% + 2vh);
                height: 80%;
                width:  30%;
                padding: 0vh 5vh 5vh 5vh;
                text-align: center;
                transform: translateY(50%);
            
                border: var(--main-color-) solid 1px;
                border-radius: 15px;
                background-color: #fff;
                display: flex;
                align-items: flex-start;
                justify-content: center;
    
                & #acessibleText{
                    font-size: 1.5rem;
                    color: var(--main-color-);
    
                    & .textTitle{
                        font-weight: bold;
                        font-size: 2rem;
                        text-decoration: underline;
                        color: #1b1b1b;
                        padding: 1rem;
                        margin-bottom: 1rem;
                    }
    
                    & .textBody p {
                        text-align: start;
                    }
                }
            }
            
        }
    }
    & footer {
        height: 12vh;
        height: 9vh;
        width: 100%;
        position: fixed;
        bottom: 0;
        background: var(--main-dark--);
        transition: all 1s ease;
        border-radius: 5px 5px 0 0;
        filter: drop-shadow(-2px -2px 3px var(--shadow--));
        z-index: 50;
    
        & .f_relative_root {
          display: flex;
          position: relative;
          height: 100%;
          width: 100vw;
          z-index: 100;
          justify-content: center;
    
          & .f_pd_owners {
            position: absolute;
            top: 1px;
            left: 50%;
            transform: translate(-50%, -100%);
            height: 4vh;
            width: 500px;
    
            & #pageDown {
              display: block;
              background-color: var(--main-dark--);
              border-radius: 15px 15px 0 0;
              height: 100%;
              width: 100%;
              color: var(--letter--);
              font-size: 1.8rem;
              line-height: 2.8rem;
              border: none;
              outline: none;
              & i,
              span {
                color: var(--red-alert--);
              }
            }
          }
          & #footer_bg {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 100;
            overflow: hidden;
    
            & .f_cl {
              position: absolute;
              top: 0px;
              height: 33%;
              filter: drop-shadow(2px 2px 2px var(--shadow--));
            }
            /* retirar depois */
            & .f_cl2 {
              right: 20px;
            }
            & .f_a {
              position: absolute;
              bottom: 0;
              height: 33%;
              filter: drop-shadow(2px 2px 2px var(--shadow--));
            }
            & .f_a1 {
              left: 10%;
            }
            & .f_a2 {
              right: 10%;
            }
            & .f_s {
              position: absolute;
              bottom: 11%;
              left: 5%;
              height: 33%;
              filter: drop-shadow(2px 2px 2px var(--shadow--));
            }
            & .f_c {
              position: absolute;
              bottom: 24%;
              right: 4%;
              height: 30%;
              filter: drop-shadow(2px 2px 2px var(--shadow--));
            }
            & .f_l {
              position: absolute;
              bottom: 10%;
              height: 55%;
            }
            & .f_l1 {
              left: 17%;
            }
            & .f_l2 {
              right: 17%;
            }
          }
          & .footer_rules {
            height: 100%;
            width: 60%;
            padding: 2px 0 0;
            & .f_r_down {
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
            }
    
            & .ruler_pg {
              height: 100%;
              filter: drop-shadow(1px 1px 1px #202020);
            }
        }
        }
    }
}

@media screen and (max-width: 1600px ) {
    body{
        & main{
            & #gameContainer{
                & #gameControls{        
                    & .btn{
                        width: 5vh;
                        height: 5vh;
                        & i{
                            font-size: 1.8rem;
                        }
                    }
                }
                & #gameAcessibleContainer{
                    /* width: 25%; */
    
                    & #acessibleText{
                        & p{
                            font-size: 2.2rem;
                        }
                    }
                }

            }
        }
    }
    }