@font-face {
  font-family: "Shadows Into Light";
  src: url("./../assets/fonts/ShadowsIntoLight-Regular.ttf");
}
@font-face {
  font-family: "Special Elite";
  src: url("./../assets/fonts/SpecialElite-Regular.ttf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* green theme */
  --main-light--: rgb(34, 134, 9);
  --main-deep--: #01261c;
  --main-dark--: #025930;
  --main-soft-light: rgb(3, 140, 51);
  --main-soft-light: #269e08;
  --main-soft-light-t5: #038c3380;
  --main-p-bg: #008f00ad;
  --main-g-bg: rgb(0, 202, 0);
  --main-t-shadow1: #d8f7ca;
  --main-t-shadow2: #68e32e;
  --main-t-shadow3: #099f32;
  --main-t-shadow4: #066529;
  --main-t-shadow5: #063d17;
  --main-tm-deep: #1e5004;
  --bg--: #303030;

  --s1--: #219e08;
  --s2--: #db3434;
  --s3--: #f2e204;

  --scrollbar-color--:  #ffffff5d;
  --main-scrollbar-color--:  #ffffff;

  --yellow-border--: #f2dd04; /* Jogo 2 color */
  --lightblue-form-bg--: #3498db; /* Jogo 3 color */
  --purple-border--: #ca09e4; /* Jogo 5 color */
  --red-border--: #db3434; /* Jogo 5 color */

  --bg-dark--: #303030;
  --bg-light--: #ddd;
  --btn-bg--: #303030;
  --btn-cl--: #ffffff;
  --btn-border--: #494949;
  --btn-shadow-1--: #383838;
  --btn-shadow-2--: #000000;
  --btn-h-s-1--: #4d4c4c;
  --btn-h-s-2--: #000000;
  --btn-h-s-3--: #4d4c4c;
  --btn-h-s-4--: #000000;
  --btn-a-s-1--:   #4d4c4c;
  --btn-a-s-2--:   #000000;
  --btn-a-s-3--:   #4d4d4d;
  --btn-a-s-4--:   #000000;
  --white--: #fff;
  --white-t3--: #ffffff4d;
  --white-t4--: #ffffff66;
  --black--: #000;

  --letter--: #fff;
  --gray-dark-letter-: #161616;
  --shadow--: #000;
  --passive-shadow--: #fff;
  --h3-color: #e3e3e3;

  --red-alert--: #ec0404;
}

html {
  font-size: 62.5%;
  scrollbar-width: none; /* Firefox */
}

body {
  width: 100vw;
  scrollbar-width: none; /* Firefox */
  font-size: 1.6rem;
  background-color: var(--bg--);
  transition: all 1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: clip;

  & button {
    cursor: pointer;
  }
  & .mainButton {
    background-color: var(--btn-bg--);
    border-radius: 50%;
    box-shadow: inset 4px 4px 10px var(--btn-shadow-1--), inset -4px -4px 10px var(--btn-shadow-2--);
    color: var(--btn-cl--);
    cursor: pointer;
    font-size: 18px;
    padding: 15px 20px;
    transition: all 0.2s ease-in-out;
    border: 1px solid var(--btn-border--);
    filter: drop-shadow(1px 1px 1px var(--shadow--));
    font-weight: 100;
  }

  & .mainButton:hover {
    box-shadow: inset 2px 2px 5px var(--btn-h-s-1--), inset -2px -2px 10px var(--btn-h-s-2--), 2px 2px 5px var(--btn-h-s-3--), -2px -2px 5px var(--btn-h-s-4--);
    transform: scale(1.05);
  }

  & .mainButton:active {
    outline: none;
    box-shadow: inset 2px 2px 10px var(--btn-a-s-1--), inset -2px -2px 10px var(--btn-a-s-2--), 2px 2px 10px var(--btn-a-s-3--), -2px -2px 10px var(--btn-a-s-4--);
  }
  & img {
    user-select: none;
  }
  & header {
    height: 12.5vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--main-light--);
    border-radius: 0 0 5px 5px;
    filter: drop-shadow(2px 2px 4px var(--shadow--));
    z-index: 10;
    transition: all 1s ease;

    & nav {
      height: 12.5vh;
      width: 100%;
      display: flex;

      & .logoBtn {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        
        & img {
          position: relative;
          display: inline-block;
          height: 11vh;
          filter: drop-shadow(1px 1px 1px var(--shadow--));
        }
      }

      & #navbar {
        width: 100%;
        height: 100%;
        padding: 0px 2%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .nb_group {
          width: 100%;

          & button.navBtn {
            display: inline-block;
            font-size: 3rem;
            background-color: transparent;
            text-decoration: none;
            text-transform: capitalize;
            color: var(--letter--);
            margin: 0 1%;
            padding: 1%;
            transition: all 0.1s linear;
            border: none;
            outline: none;
            filter: drop-shadow(1px 1px 1px var(--shadow--));
          }

          & button.navBtn:hover,
          .switch:hover {
            transform: scale(1.1);
          }
        }

        & .nb_group2 {
          direction: rtl;
          display: flex;
          align-items: center;

          /* From Uiverse.io by satyamchaudharydev */
          /* The switch - the box around the slider */
          & .switch {
            margin-left: 5%;
            display: inline-block;
            --width-of-switch: 5rem;
            --height-of-switch: 3rem;
            /* size of sliding icon -- sun and moon */
            --size-of-icon: 2.4rem;
            /* it is like a inline-padding of switch */
            --slider-offset: 1.8rem;
            position: relative;
            width: var(--width-of-switch);
            height: var(--height-of-switch);
          }
          /* Hide default HTML checkbox */
          & .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }
          /* The slider */
          & .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #f4f4f5;
            transition: 0.4s;
            border-radius: 30px;
          }
          & .slider:before {
            position: absolute;
            content: "";
            height: var(--size-of-icon, 1.4em);
            width: var(--size-of-icon, 1.4em);
            border-radius: 20px;
            left: var(--slider-offset, 0.3em);
            top: 50%;
            transform: translateY(-50%);
            background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
            transition: 0.4s;
          }
          & input:checked + .slider {
            background-color: #303136;
          }
          & input:checked + .slider:before {
            left: calc(
              100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em))
            );
            background: #303136;
            /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
            box-shadow: inset -3px -2px 5px -2px #8983f7,
              inset -4px -2px 0 0 #a3dafb;
          }
        }
      }
    }
  }
  & main {
    position: relative;
    top: 12.5vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    padding: 0px 100px;
  

    & .main_scrollbar {
      position: fixed;
      top: 15%;
      right: 10px;
      width: 20px;
      height: 75%;
      z-index: 10;

      & .s_container {
        width: 100%;
        height: 100%;
        position: relative;

        & .main_scrollBar {
          position: absolute;
          opacity: 0;
          top: 0;
          left: 50%;
          height: 100%;
          width: 1px;
          transform: translate(-50%);
          transition: all .5s ease;
          background-color: var(--main-scrollbar-color--);
        }

        & .main_scrollThumb {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: var(--main-soft-light);
          z-index: 9;
          filter: drop-shadow(1px 1px 1px var(--shadow--));
          cursor: grab;
          transition: background-color .5s ease;
        }
        & .main_scrollThumb.active,
          .main_scrollThumb:hover {
            background-color: var(--main-g-bg);
          transition: background-color .5s ease;

          }
        & .main_scrollThumb.active ~ .main_scrollBar,
          .main_scrollThumb:hover ~ .main_scrollBar{
          transition: all .5s ease;
          opacity: 1;
        }
      }
    }
    & #mainPopUp.active{display: block;}
    & #mainPopUp{
      width: 300px;
      border: 1px solid white;
      border-radius: 10px;
      position: fixed;
      top: calc(12.5vh + 20px);
      right: 20px;
      display: none;
      overflow: hidden;
      z-index: 11;
      background-color: var(--main-soft-light-t5);
      filter: drop-shadow(1px 1px 1px var(--shadow--));

      & .pp_container{
        height: 100%;
        width: 100%;
        position: relative;
        padding: 20px;
        color: var(--letter--);
        & #pp_closeBtn{
          position: absolute;
          top: 5px;
          right: 5px;
          border-radius: 50%;
          height: 3.9rem;
          width: 4rem;
          font-size: 3rem;
          line-height: 4rem;
          text-align: center;
          border: none;
          outline: none;
          filter: drop-shadow(1px 1px 1px var(--shadow--));
          background-color: var(--red-alert--);
          color: var(--white--);
        } 
        & p {
          font-size: 2.5rem;
          filter: drop-shadow(1px 1px 1px var(--shadow--));
        }
      }
    }
    & #background {
      height: calc(100vh - 20vh);
      width: 100vw;
      max-width: 100vw; /* Não há contingencia para o background */
      position: absolute;
      z-index: -2;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
        16deg,
        transparent 20%,
        var(--main-p-bg) 70% 100%
      );
      overflow: hidden;

      & .sphere {
        position: relative;
        top: 15%;
        right: -35%;
        width: 250px;
        height: 250px;
        font-size: 0;
        filter: blur(50px);
        animation: rotateBG 10s linear 0s infinite normal;

        & .sd1 {
          height: 100%;
          width: 50%;
          background-color: var(--s1--);
          display: inline-block;
          border-radius: 125px 0 0px 125px;
          box-shadow: -40px 0 100px 40px var(--s1--);
        }
        & .sd2 {
          height: 100%;
          width: 50%;
          background-color: var(--s2--);
          display: inline-block;
          border-radius: 0 125px 125px 0;
          box-shadow: 40px 0 100px 40px var(--s2--);
        }
        & .sd3 {
          position: absolute;
          top: 57%;
          left: 23%;
          height: 53%;
          width: 53%;
          transform: rotate(45deg);
          background-color: var(--s3--);
          display: inline-block;
          border-radius: 0 0 125px;
          box-shadow: 40px 40px 100px 40px var(--s3--);
        }
      }
    }
    & #background_img {
      position: absolute;
      bottom: calc((5 * 80vh) + 0.5vh);
      right: -2vw;
      height: 80vh;
      width: 100vw;
      max-width: 100vw;
      z-index: -1;

      & img {
        position: relative;
        bottom: -2%;
        float: right;
        right: -31vh;
        height: 98%;
      }
    }
    & #background_img::after {
      content: "";
      position: absolute;
      bottom: calc(-9.5vh);
      right: -31vh;
      height: 10vh;
      width: 80vw;
      direction: rtl;
      background: linear-gradient(270deg, var(--main-dark--) 90%, #ffffff00);
    }

    & #theProject {
      position: relative;
      top: 0;
      height: calc(100vh - 20vh);
      width: 100%;

      & .tp_title {
        font-size: 7rem;
        color: var(--letter--);
        margin: 3rem 3rem 2rem;
        width: 55%;
        filter: drop-shadow(2px 2px 2px var(--shadow--));
      }

      & .tp_textArea {
        width: 50%;
        height: 60%;
        margin-left: 6rem;
        background: linear-gradient(
          90deg,
          var(--main-soft-light),
          var(--main-soft-light-t5) 20%,
          rgba(255, 255, 255, 0) 65%
        );
        border-radius: 15px;
        padding: 2% 0 2% 2%;
        max-height: 60%;
        position: relative;

        & .tp_scrollContent {
          overflow: auto;
          height: 100%;
          width: 100%;
          -ms-overflow-style: none;
          margin: 0;
          padding: 0;
          & h2 {
            text-transform: capitalize;
            font-size: 4rem;
            color: var(--letter--);
            margin-bottom: 2rem;
            filter: drop-shadow(2px 2px 2px var(--shadow--));
          }
          & .tp_text {
            color: var(--letter--);
            height: 75%;
            width: 95%;

            h3 {
              font-size: 2.4rem;
              line-height: 3.4rem;
              margin: 20px 0 0 15px;
              filter: drop-shadow(1px 1px 1px var(--shadow--));
            }
            & p {
              font-size: 2rem;
              line-height: 3rem;
              margin: 1.5% 0;

              & span {
                display: block;
                font-size: 2.2rem;
                line-height: 3.2rem;
                margin: 20px 0 0 30px;
                font-weight: bold;
                filter: drop-shadow(1px 1px 1px var(--shadow--));
              }
            }
          }
        }
        & .tp_scrollContent::-webkit-scrollbar {
          display: none;
        }
        & .tp_scrollbar {
          position: absolute;
          top: 15%;
          right: 0;
          width: 2%;
          height: 70%;

          & .s_container {
            width: 100%;
            height: 100%;
            position: relative;

            & .tp_scrollBar {
              position: absolute;
              opacity: 0;
              top: 0;
              left: 50%;
              height: 100%;
              width: 1px;
              transform: translate(-50%);
              transition: all .5s ease;
              background-color: var(--scrollbar-color--);
            }

            & .tp_scrollThumb {
              position: absolute;
              top: 0;
              left: 0;
              transform: translateX(-10%);
              height: 20px;
              width: 20px;
              border-radius: 50%;
              background-color: var(--main-soft-light);
              z-index: 9;
              filter: drop-shadow(1px 1px 1px var(--shadow--));
              cursor: grab;
              transition: background-color .5s ease;

            }
            & .tp_scrollThumb.active, .tp_scrollThumb:hover{
              background-color: var(--main-g-bg);
              transition: background-color .5s ease;

            }
            & .tp_scrollThumb.active ~ .tp_scrollBar,
              .tp_scrollThumb:hover ~ .tp_scrollBar{
              transition: all .5s ease;
              opacity: 1;
            }
          }
        }
      }
    }
    & #games {
      position: relative;
      height: calc(100vh - 20vh);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & h2 {
        position: absolute;
        text-transform: capitalize;
        top: 1.5vh;
        font-size: 5rem;
        color: var(--letter--);
        filter: drop-shadow(1px 1px 1px var(--shadow--));
      }
      & .gamesSection {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .gs_controlBtn {
          height: 8vh;
          width: 8vh;
          border-radius: 50%;
          border: 1px solid white;
          outline: none;
          background-color: var(--white-t4--);
          filter: drop-shadow(2px 4px 6px var(--shadow--));

          & i {
            font-size: 3rem;
            color: var(--gray-dark-letter-);
          }
        }

        & .gs_controlBtn:hover {
          background-color: var(--white-t3--);
          transform: scale(1.05);
        }

        & .gamesContainer {
          position: relative;
          height: 90%;
          width: 90%;
          padding: 2% 2%;
          flex-direction: row;
          justify-content: space-between;
          overflow: hidden;

          & .gameBtn {
            height: 200px;
            width: 200px;
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 0;
            filter: drop-shadow(2px 4px 6px var(--shadow--));
            border: none;
            margin: 0 2%;
            cursor: pointer;
            transition: left 0.5s ease, right 0.5s ease;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            border: 1px solid white;
            opacity: 1;
            & a {
              font-size: 2rem;
              font-weight: bold;
              text-decoration: none;
              filter: none;
              color: var(--letter--);
            }
          }
          & .gameBtn.active {
            left: 50%;
          }
          & .gameBtn.right {
            left: 150%;
          }
          & .gameBtn.left {
            left: -100%;
          }
          & .gameBtn.reseted {
            opacity: 0;
            /* left: 150%; */
          }
          & #game1El {
            background-color: #219e08;
          }
          & #game2El {
            background-color: #ebd700d3;
          }
          & #game3El {
            background-color: #3498db;
          }
          & #game4El {
            background-color: #db3434;
          }
          & #game5El {
            background-color: var(--purple-border--);
          }
        }
      }
    }
    & #games::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100vw;
      background: radial-gradient(circle, var(--main-g-bg) 6%, transparent 72%);
      z-index: -2;
    }
    & #photos {
      position: relative;
      height: 80vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & h2 {
        position: absolute;
        text-transform: capitalize;
        top: 0.6vh;
        font-size: 5rem;
        color: var(--letter--);
        z-index: 5;
        display: none;
      }
      & h3 {
        font-family: "Shadows Into Light";
        font-size: 6rem;
        font-weight: 100;
        position: absolute;
        z-index: 3;
        color: var(--h3-color);
        & span {
          letter-spacing: 20px;
        }
      }
      & .h3_left {
        top: 1vh;
        left: -20rem;
      }
      & .h3_right {
        bottom: -1vh;
        right: -25rem;
      }
      & .polaroidsColumn {
        position: absolute;
        top: 3vh;
        height: 90%;
        width: 200px;
        z-index: 1;
        display: flex;

        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        & .polaroid {
          position: relative;
          height: 40%;
          width: 80%;
          padding: 5% 6% 42%;
          filter: drop-shadow(1px 2px 3px var(--shadow--));
          overflow: hidden;
          background: linear-gradient(135deg, #edebeb, #dddcdc);

          & .pola_photo {
            background-color: #f9f9f9;
            /* the size will be shaped by parent padding*/
            height: 100%;
            width: 100%;
          }
        }
      }
      & .polaroidsColumn.left {
        left: -26%;

        & .polaroid:first-of-type {
          transform: rotate(-18deg) translate(0);
        }
        & .polaroid:nth-of-type(2) {
          transform: rotate(40deg) translate(56%, -32%);
        }
        & .polaroid:last-of-type {
          transform: rotate(-42deg) translate(-5%, -6%);
        }
      }
      & .polaroidsColumn.right {
        right: -26%;

        & .polaroid:first-of-type {
          transform: rotate(-18deg) translate(0);
        }
        & .polaroid:nth-of-type(2) {
          transform: rotate(40deg) translate(-56%, 32%);
        }
        & .polaroid:last-of-type {
          transform: rotate(-42deg) translate(5%, 6%);
        }
      }

      & .photos_bg {
        position: absolute;
        width: 70vw;
        bottom: 5px;
        z-index: -1;
        filter: drop-shadow(1px 1px 1px var(--shadow--));
      }
      & .photos_bg.active{
        opacity: 0;
      }

      & .projectPhotos_container {
        width: 90%;
        height: 80%;
        overflow-x: scroll;

        & .photoScreen {
          /* ao ativar o container pai .GALERY e .PHOTO_BG ganham display none */
          display: none;
          position: absolute;
          top: 53%;
          transform: translate(-50%, -50%);
          left: 50%;
          height: 83%;
          width: 75%;
          padding: 0 3vh;
          background-color: #00000094;
          border: 1px solid var(--white--);
          border-radius: 15px;
          z-index: 9;
          justify-content: space-between;
          align-items: center;

          & img {
            max-height: 90%;
            max-width: 80%;
            border-radius: 15px;
          }
          & .closeBtn {
            position: absolute;
            top: 2vh;
            right: 2vh;
            height: 3.5vh;
            width: 3.5vh;
            border-radius: 50%;
            background-color: var(--red-alert--);
            color: var(--letter--);
            outline: none;
            border: 1px solid;
            font-size: 3rem;
          }
          & .closeBtn:hover {
            transform: scale(1.05);
          }
        }
        & .photoScreen.active{display: flex;}
        & .galery.active {
          /* ao ativar o container pai .GALERY e .PHOTO_BG ganham display none */
          display: grid;
          column-gap: 23%;
          grid-template-columns: repeat(4, 40rem);
          overflow-x: auto;

          & .polaroid {
            position: relative;
            height: 28rem;
            width: 60%;
            padding: 3% 3% 21%;
            filter: drop-shadow(1px 2px 3px var(--shadow--));
            overflow: hidden;
            background: linear-gradient(135deg, #edebeb, #dddcdc);
            transition: all 0.3s ease-in;
            border-top: solid 1px #64646444;
            border-left: solid 1px #64646444;

            & .pola_photo {
              background-color: #f9f9f9;
              /* the size will be shaped by parent padding*/
              height: 100%;
              width: 100%;
              overflow: hidden;
              line-height: 100%;

              & .polaroid_img {
                height: 100%;
                cursor: pointer;
              }
            }
            & p {
              position: absolute;
              bottom: 0;
              left: 0;
              display: inline-block;
              width: 100%;
              height: 28%;
              font-family: "Special Elite";
              font-size: 1.7rem;
              padding: 10px 2vh 0;
              text-align: center;
              color: var(--gray-dark-letter-);
            }
          }
          & .polaroid:nth-child(odd) {
            grid-row: 1;
            transform: translate(30%, 20%) rotate(-25deg);
          }
          & .polaroid:nth-child(even) {
            position: relative;
            left: 91%;
            grid-row: 2;
            transform: translate(30%, -20%) rotate(25deg);
          }
          & .polaroid:nth-child(odd):hover {
            transform: translate(30%, 40%) rotate(0) scale(1.3);
            filter: drop-shadow(4px 9px 4px #646464);
            border-top: solid 1px #ffffff;
            border-left: solid 1px #ffffff;
          }
          & .polaroid:nth-child(even):hover {
            transform: translate(30%, -43%) rotate(0) scale(1.3);
            filter: drop-shadow(4px 9px 4px #646464);
            border-top: solid 1px #ffffff;
            border-left: solid 1px #ffffff;
          }
        }
        & .galery{
          display: none;
        }
        & .ph_scrollbar {
          position: absolute;
          top: 5%;
          left: 50%;
          width: 300px;
          height: 10px;
          transform: translateX(-50%);

          & .ph_s_container {
            width: 100%;
            height: 100%;
            position: relative;

            & .ph_scrollBar {
              position: absolute;
              opacity: 0;
              top: 50%;
              left: 50%;
              height: 1px;
              width: 100%;
              transform: translate(-50%, -50%);
              transition: all .5s ease;
              background-color: var(--scrollbar-color--);
            }

            & .ph_scrollbarThumb {
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              height: 20px;
              width: 20px;
              border-radius: 50%;
              background-color: var(--main-soft-light);
              z-index: 9;
              filter: drop-shadow(1px 1px 1px var(--shadow--));
              transition: background-color .5s ease;


            }
            & .ph_scrollbarThumb.active,
              .ph_scrollbarThumb:hover {
                background-color: var(--main-g-bg);
                transition: background-color .5s ease;

            }
            & .ph_scrollbarThumb.active ~ .ph_scrollBar,
              .ph_scrollbarThumb:hover ~ .ph_scrollBar {
              transition: all .5s ease;
              opacity: 1;
            }
          }
        }

      }

      ::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
    & #photos::after {
      content: "";
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      width: 85%;
      height: 20px;
      background: linear-gradient(
        270deg,
        #ffffff00 0%,
        var(--main-dark--) 10%,
        var(--main-dark--) 90%,
        #ffffff00 100%
      );
    }
    & #testimonials {
      position: relative;
      height: 80vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & .testimonials_container {
        position: absolute;
        width: 68%;
        height: 66%;
        background-color: var(--main-deep--);
        border-radius: 10px;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        align-items: center;
        filter: drop-shadow(1px 2px 3px var(--shadow--));

        & .neon_box {
          width: 93%;
          height: 85%;
          background-color: var(--main-dark--); /* Tom final no centro */
          border-radius: 10px;
          box-shadow: 0 0 5px var(--main-t-shadow1),
            0 0 10px var(--main-t-shadow2), 0 0 15px var(--main-t-shadow3),
            0 0 20px var(--main-t-shadow4), 0 0 30px var(--main-t-shadow5); /* Tom final no fim da transição */
          transition: all 0.5s ease-in-out;
        }

        & .card_container.neon_box {
          align-items: center;
          justify-content: space-around;

          & .t_card {
            position: relative;
            width: 22%;
            height: 80%;
            background: white;
            border-radius: 10px;
            box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
              0 0 0 2px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
            padding: 10px;
            font-family: "Special Elite";
            transition: all 0.5s ease-in-out;

            & .c_header {
              transition: all 0.8s ease-out;
              position: absolute;
              padding: 20px;
              background-color: var(--main-light--);
              border-radius: 10px 10px 0 0;
              color: var(--letter--);
              width: calc(100% - 20px);
              height: calc(30% - 10px);
              bottom: 70%;
              z-index: 1;
              line-height: 2rem;
              letter-spacing: 1px;

              & .t_name {
                text-align: end;
                transition: all 1 ease-in-out;
                opacity: 0;

              }
              & .t_context {
                text-align: end;
                transition: all 1 ease-in-out;
                opacity: 0;

              }
            }
            & .c_header::after {
              content: "";
              position: absolute;
              top: 10px;
              left: 10px;
              height: 100%;
              width: calc(100% - 20px);
              border: 1px solid white;
              border-radius: 10px 10px 0 0;
              border-bottom: none;
            }
            & .c_body {
              position: absolute;
              top: 45%;
              height: 70%;
              width: 95%;
              text-align: center;
              word-break: break-word;
              word-wrap: break-word;
              z-index: 2;
              opacity: 1;
              transition: all 2s ease-in-out;


              & .t_img {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                top: -25%;
                transform: translate(-50%, -50%);
                overflow: hidden;
                border: 1px solid white;

                & img {
                  min-height: 100%;
                  width: 100%;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);

                }
              }
              & .testimonial_text {
                width: calc(100% - 10px);
                font-size: 1.6rem;
                color: var(--main-deep--);
              }
            }
          }
          & .t_card.chaging{
            & .c_body{
              opacity: 0;
              transition: all 2s ease-in-out;
            }
          }
          & .t_card:hover {
            transform: scale(1.05);
            transition: all 0.5s ease-in-out;
            & .c_header {
              height: 35%;
            }
            & .t_name,
            .t_context {
              opacity: 0.8;
              font-weight: 100;
              filter: drop-shadow(1px 1px 1px var(--shadow--));
            }
          }
        }
      }
      & .testimonials_bg {
        position: absolute;
        width: 70vw;
        top: 67%;
        left: 50%;
        transform: translateX(-50%) rotateX(180deg);
        z-index: -1;
        filter: drop-shadow(1px -1px 0.5px var(--shadow--));
      }
    }
    & #team {
      position: relative;
      height: 80vh;
      width: 100%;
      font-family: "Special Elite";
      align-items: center;
      justify-content: space-between;

      & .team_container {
        position: absolute;
        left: 200%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 90%;
        max-height: 680px;
        background-color: var(--main-tm-deep);
        border: 1px solid var(--main-deep--);
        border-radius: 15px;
        padding: 20px;
        align-items: center;
        justify-content: space-between;

        & .tc{
          display: none;
        }
      }
      & .team_container.active {
        left: 50%;
        & .tc {
          padding: 10px;
          height: 100%;
          max-height: 600px;
        }

        & .tc_c1 {
          width: 40%;
          color: var(--letter--);
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          display: flex;

          & .perfil {
            height: 19.1rem;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            padding: 10px;
            background-color: var(--main-light--);
            border-radius: 15px;
            filter: drop-shadow(1px 1px 4px var(--shadow--));

            & .dev_img {
              height: 100%;
              width: calc(19.1rem - 20px);
              overflow: hidden;
              border: 1px solid #ffffff6e;
              border-radius: 50%;
              filter: drop-shadow(1px 1px 3px var(--shadow--));

              & img {
                height: 100%;
                width: 100%;
              }
            }
            & .dev_data {
              height: 100%;
              text-align: end;
              letter-spacing: 1.5px;
              align-content: center;
              font-weight: 600;
              color: #ffffff;

              & p {
                font-size: 2.3rem;
                padding: 5px;
                filter: drop-shadow(1px 1px 1px var(--shadow--));
              }
            }
          }
          & .qualifications {
            height: calc(45%);
            width: 100%;
            text-align: end;
            background-color: var(--main-light--);
            border-radius: 15px;
            filter: drop-shadow(1px 1px 3px var(--shadow--));
            padding-bottom: 10px;
            margin-bottom: 15px;

            & .label {
              display: inline-block;
              font-size: 2.3rem;
              font-weight: 600;
              line-height: 3.3rem;
              padding: 10px;
              filter: drop-shadow(1px 1px 1px var(--shadow--));
            }

            & .q_container {
              height: 80%;
              width: 100%;
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              grid-template-row: repeat(2, 1fr);

              & .skill {
                text-align: center;
                flex-direction: column;
                & .q_icon {
                  height: 80%;
                  width: 100%;
                  position: relative;
                  overflow: hidden;

                  & img {
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 5% 0;
                    filter: drop-shadow(1px 1px 1px var(--shadow--));
                  }
                }
                & .q_label {
                  height: 20%;
                  font-size: 1.4rem;
                  font-weight: 100;
                  margin-top: auto;
                  line-height: 2.4rem;
                }
              }
            }
            & .q_container.th{
              display: block;
              text-align: center;
              font-size: 1.8rem;
              overflow: hidden;

              & .q_list{
                & .ql_item{
                  text-decoration: none;
                  word-wrap: break-word;
                  word-break: keep-all;
                  list-style: none;
                  margin: 10px 0;
                  font-size: 2rem;
                  filter: drop-shadow(1px 1px 1px var(--shadow--));

                  & i {
                    margin:  0 10px;
                  }
                }
              }
            }
          }
          & .links {
            width: 100%;
            overflow: hidden;
            text-align: center;
            background-color: var(--main-light--);
            border-radius: 15px;
            filter: drop-shadow(1px 1px 3px var(--shadow--));
            padding-bottom: 5px;

            & .l_container {
              width: 100%;
              height: 60px;
              align-items: center;
              justify-content: space-around;

              & a {
                text-decoration: none;
                height: 100%;
                width: 60px;
                font-size: 3.5rem;
                color: #fff;
                line-height: 4.5rem;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;

                & i {
                  filter: drop-shadow(1px 1px 1px var(--shadow--));
                }
              }
            }
          }
        }
        & .tc_c2 {
          width: 58%;
          height: calc(100% - 60px);
          padding: 30px;
          background-color: var(--main-light--);
          border-radius: 15px;
          color: #fff;
          filter: drop-shadow(1px 1px 3px var(--shadow--));
          margin-right: 10px;
          display: block;

          & .experience {
            height: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            & p {
              padding: 5px;
              font-size: 2rem;
              letter-spacing: 1px;
              filter: drop-shadow(1px 1px 1px var(--shadow--));
            }
          }
        }
      }


      /* & .directionBtn {
        height: 7vh;
        width: 7vh;
        border-radius: 50%;
        border: 1px solid white;
        outline: none;
        background-color: var(--white-t4--);
        filter: drop-shadow(2px 4px 6px var(--shadow--));

        & i {
          font-size: 3rem;
          color: var(--gray-dark-letter-);
        }
      }
      & .directionBtn:hover {
        background-color: var(--white-t3--);
        transform: scale(1.05);
      } */
    }
    & #contact {
      position: relative;
      height: 81vh;
      width: 100%;
      color: var(--letter--);
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      & .c_imgBG {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0%);
        height: 100vh;
        width: 100vw;
        z-index: -1;
        overflow: hidden;
        & img {
          width: 100%;
          position: relative;
          top: 0%;
        }
      }

      & h2 {
        margin: 15vh 0 10px;
        font-size: 5rem;
        filter: drop-shadow(1px 1px 1px var(--shadow--));
      }

      & form {
        margin-left: 10px;
        height: 50vh;
        width: 100%;

        & .clm {
          height: 100%;
          width: 60%;

          & .c_containers {
            width: 100%;
            height: 12%;
            align-items: center;
            margin-top: 40px;

            & .fild_wrapper {
              position: relative;
              height: 100%;
              width: 50%;

              & label {
                position: absolute;
                top: 50%;
                left: 1%;
                font-size: 2.5rem;
                color: var(--main-dark--);
                transform: translate(-50%, -50%);
                width: 10px;
                padding-left: 10px;
                z-index: 2;
                transition: all 0.6s ease;
              }
              & input {
                height: 100%;
                width: 95%;
                border-radius: 8px;
                border: none;
                outline: var(--main-soft-light);
                filter: drop-shadow(1px 2px 3px var(--shadow--));
                padding-left: 10px;
                transition: all 0.5s ease;
              }
              & .contact_cell,
              .contact_subject {
                width: 80%;
              }
              & input::placeholder {
                color: transparent;
              }
            }
            & .fild_wrapper:hover {
              & input::placeholder {
                color: #5f5f5f;
                font-size: 1.8rem;
              }
            }
          }
        }
        & .clm:nth-of-type(2) {
          width: calc(40% - 10px);
          & .c_containers {
            height: 100%;

            & .fild_wrapper {
              width: 100%;

              & label {
                top: 6%;
                left: 10px;
              }

              & textarea {
                height: 70%;
                width: 90%;
                border-radius: 8px;
                filter: drop-shadow(1px 2px 3px var(--shadow--));
                resize: none;
                padding: 10px;
                color: #333;
                font-size: 1.7rem;
                border: none;
                outline: none;
                transition: all 0.7s ease;
              }

              & button.formSub {
                position: absolute;
                bottom: 30%;
                right: 10%;
                padding: 8px 30px;
                font-size: 2rem;
                color: var(--letter--);
                background-color: var(--main-light--);
                border: none;
                border-radius: 10px;
                outline: none;
                transition: all 0.7s ease;
                filter: drop-shadow(1px 1px 2px var(--shadow--));
                margin: 10px;
              }
              & button.formSub:hover {
                transform: scale(1.03);
                transition: all 0.7s solid;
              }
            }
          }
        }
      }
    }
    & #contact::after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 30%;
      transform: translate(-50%, -50%);
      height: 87.5vh;
      width: 100vw;
      background: linear-gradient(180deg, var(--bg--) 0% 5%, transparent 60%);
      z-index: -1;
    }
  }
  & footer {
    height: 27.5vh;
    width: 100%;
    position: sticky;
    bottom: -20vh;
    background: var(--main-dark--);
    transition: all 1s ease;
    border-radius: 5px 5px 0 0;
    filter: drop-shadow(-2px -2px 3px var(--shadow--));
    z-index: 50;

    & .f_relative_root {
      display: flex;
      position: relative;
      height: 100%;
      width: 100vw;
      z-index: 100;
      justify-content: center;

      & .f_pd_owners {
        position: absolute;
        top: 1px;
        left: 50%;
        transform: translate(-50%, -100%);
        height: 4vh;
        width: 500px;

        & #pageDown {
          display: block;
          background-color: var(--main-dark--);
          border-radius: 15px 15px 0 0;
          height: 100%;
          width: 100%;
          color: var(--letter--);
          font-size: 1.8rem;
          line-height: 2.8rem;
          border: none;
          outline: none;
          & i,
          span {
            color: var(--red-alert--);
          }
        }
      }
      & #footer_bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 100;
        overflow: hidden;

        & .f_cl {
          position: absolute;
          top: 10px;
          height: 13%;
          filter: drop-shadow(2px 2px 2px var(--shadow--));
        }
        /* retirar depois */
        & .f_cl2 {
          right: 20px;
        }
        & .f_a {
          position: absolute;
          bottom: 10%;
          height: 15%;
          filter: drop-shadow(2px 2px 2px var(--shadow--));
        }
        & .f_a1 {
          left: 10%;
        }
        & .f_a2 {
          right: 10%;
        }
        & .f_s {
          position: absolute;
          bottom: 11%;
          left: 5%;
          height: 15%;
          filter: drop-shadow(2px 2px 2px var(--shadow--));
        }
        & .f_c {
          position: absolute;
          bottom: 40%;
          right: 4%;
          height: 15%;
          filter: drop-shadow(2px 2px 2px var(--shadow--));
        }
        & .f_ground {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 10%;
          width: 100%;
          align-items: center;
          justify-content: center;

          & .f_g {
            width: 3.3%;
            filter: drop-shadow(2px 2px 2px var(--shadow--));
          }
        }
      }
      & .footer_rules {
        height: 87%;
        width: 65%;
        padding: 2px 0 0;
        flex-direction: column;
        justify-content: space-evenly;

        & .f_r_top {
          opacity: 0;
          height: 95%;
          width: 100%;
          border-radius: 15px;
          filter: drop-shadow(2px 2px 2px var(--shadow--));
          position: relative;
          align-items: center;
          justify-content: space-around;
          color: var(--letter--);
          filter: none;
          transition: all .5s ease;

          & .container {
            height: 100%;
            z-index: 100;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            color: var(--letter--);
            margin: 0 20px;
            font-size: 2rem;
            list-style: none;
            & a {
              text-decoration: none;
              color: var(--letter--);
            }

            & a:hover {
              text-decoration: underline;
            }
          }
        }
        & .f_r_top.active {
          opacity: 1;
          transition: all 1s ease;
        }
        & .f_r_down {
          height: 60%;
          width: fit-content;
          min-width: 115%;
          padding: 5px 1%;
          background-color: #f2f2f2;
          border-radius: 15px;
          filter: drop-shadow(2px 2px 2px var(--shadow--));
          justify-content: space-around;
          align-self: center;
          position: relative;

          & .ruler_pg {
            height: 100%;
            filter: drop-shadow(1px 1px 1px #202020);
          }
          & .f_l {
            position: absolute;
            bottom: 0%;
            height: 100%;
          }
          & .f_l1 {
            left: 0px;
          }
          & .f_l2 {
            right: 0px;
          }
        }
      }
    }
  }

  & .container {
    display: flex;
  }
}
/* body::-webkit-scrollbar {
  display: none; 
} */

@media (max-width: 1600px) {
  html {
    font-size: 42.5%;
  }
  body {
    & header {
      & nav {
        & .logoBtn {
          & img {
            height: 9vh;
          }
        }
      }
    }

    & main {
      top: 9vh;
      & .main_scrollbar {
        & .s_container {
          & .main_scroll_bar {
            background-color: rgba(255, 255, 255, 0.177);
          }

          & .main_scrollThumb {
            height: 13px;
            width: 13px;
            transform: translateX(25%);
            

          }
        }
      }
      & #mainPopUp{
        top: calc(9vh + 20px);
        & .pp_container{
          & #pp_closeBtn{
            height: 2.75rem;
            width: 3rem;
            font-size: 2rem;
            line-height: 3rem;
          }
        }
      }
      & #background {
        height: calc(100vh - 13vh);
        top: 0;
        & .sphere {
          top: 25%;
          right: -36%;
        }
      }

      & #background_img {
        height: calc(100vh - 13vh);
        bottom: calc((5 * 80vh) + 36vh);

        & img {
          bottom: -3%;
          right: -5vw;
        }
      }
      & #background_img::after {
        bottom: calc(-10.9vh);
        right: 0;
      }

      & #theProject {
        height: calc(100vh - 13vh);
        top: 0;
        & .tp_title {
          font-size: 7.5rem;
        }
        & .tp_textArea {
          & .tp_scrollContent {
            & h2 {
              font-size: 5rem;
            }
            & .tp_text {
              line-height: 4.9rem; /*alterar posteriormente*/
            }
          }
          & .tp_scrollbar {
            & .s_container {
              & .tp_scrollBar {
                background-color: rgba(255, 255, 255, 0.177);
              }

              & .tp_scrollThumb {
                height: 13px;
                width: 13px;
                transform: translateX(-5%);
                

              }
            }
          }
        }
      }
      & #games {
        height: calc(100vh - 13vh);
        bottom: 0;
        & h2 {
          top: 1vh;
        }

        & .gamesContainer {
          & .gameBtn {
            & a {
            }
          }
          & .gameBtn:hover {
          }
          & #game1El {
          }
          & #game2El {
          }
          & #game3El {
          }
          & #game4El {
          }
          & #game5El {
          }
        }
      }
      & #photos {
        height: calc(100vh - 13vh);
        bottom: 0;
        /* margin-bottom: 4vh; */

        & h3 {
          font-size: 4.5rem;
        }
        & .h3_left {
          left: -10rem;
        }
        & .h3_right {
          right: -10rem;
          bottom: 6vh;
        }
        & .polaroidsColumn {
          top: 10vh;
          height: 75%;
          width: 11%;
          & .polaroid {
            padding: 5% 6% 29%;
          }
        }
        & .polaroidsColumn.left {
          left: -13%;
        }
        & .polaroidsColumn.right {
          right: -13%;
        }

        & .photos_bg {
          width: 80vw;
        }

        & .projectPhotos_container {
          width: 85%;
          & .photoScreen {
            height: 85%;

            & .closeBtn {
              height: 4vh;
              width: 4vh;
              font-size: 3rem;
              line-height: 4rem;
            }
          }
          & .galery {
            column-gap: 20%;
            & .polaroid {
              height: 31rem;
              width: 60%;
              padding: 3% 3% 18%;

              & .pola_photo {
                background-color: #f9f9f9;
                /* the size will be shaped by parent padding*/
                height: 100%;
                width: 100%;
                overflow: hidden;
                line-height: 100%;

                & img {
                  height: 100%;
                  cursor: pointer;
                }
              }
              & p {
                height: 25%;
                font-size: 1.6rem;
              }
            }

            & .polaroid:nth-child(odd) {
              transform: translate(32%, 23%) rotate(-25deg);
            }
            & .polaroid:nth-child(even) {
              transform: translate(88%, -23%) rotate(25deg);
              left: 50%;
            }

            & .polaroid:nth-child(odd):hover {
              transform: translate(30%, 40%) rotate(0) scale(1.1);
            }
            & .polaroid:nth-child(even):hover {
              transform: translate(96%, -51%) rotate(0) scale(1.1);
            }
          }
          & .ph_scrollbar {
            & .ph_s_container {
              & .ph_scrollBar {
                background-color: rgba(255, 255, 255, 0.177);
              }

              & .ph_scrollbarThumb {
                height: 13px;
                width: 13px;
                transform: translateY(-50%);

              }
            }
          }
        }
      }
      & #photos::after {
        top: -10px;
        height: 1.5vh;
        width: 80vw;
      }
      & #testimonials {
        height: calc(100vh - 13vh);
        bottom: 0;

        & .testimonials_container {
          & .card_container.neon_box {
            & .t_card {
              & .c_header {
                padding: 15px;
                font-weight: 300;
              }
              & .c_body {
                & .t_img {
                  height: 70px;
                  width: 70px;
                }
              }
            }
          }
        }
        & .testimonials_bg {
          width: 80vw;
        }
      }
      & #team {
        height: calc(100vh - 13vh);

        & .team_container.active {
          & .tc_c1 {
            & .perfil {
              margin-bottom: 15px;

              & .dev_data {
                letter-spacing: 1px;

                & p {
                  font-size: 2.1rem;
                }
              }
            }
            & .qualifications {
              & .label {
                font-size: 2.1rem;
                line-height: 3.1rem;
              }

              & .q_container {
                & .skill {
                  & .q_label {
                    font-size: 1.8rem;
                  }
                }
              }
            }
            & .links {
              & .l_container {
                & a {
                  text-decoration: none;
                  height: 100%;
                  width: 60px;
                  font-size: 4.5rem;
                }
              }
              & p {
                font-size: 1.8rem;
              }
            }
          }
          & .tc_c2 {
            height: calc(100% - 20px);
            padding: 20px 10px;
          }
        }
        & .team_container {
          left: 150%;
        }
/* 
        & .directionBtn {
          height: 7vh;
          width: 7vh;
          border-radius: 50%;
          border: 1px solid white;
          outline: none;
          background-color: var(--white-t4--);
          filter: drop-shadow(2px 4px 6px var(--shadow--));

          & i {
            font-size: 3rem;
            color: var(--gray-dark-letter-);
          }
        }
        & .directionBtn:hover {
          background-color: var(--white-t3--);
          transform: scale(1.05);
        } */
      }
      & #contact {
        height: calc(100vh - 13vh);
        bottom: 0;
        /* margin-bottom: 4vh; */

        & .c_imgBG {
          position: absolute;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 0%);
          height: 100vh;
          width: 100vw;
          z-index: -1;
          overflow: hidden;
          & img {
            position: relative;
            top: 0%;
          }
        }
      }
    }
    & footer {
      & .f_relative_root {
        & .f_pd_owners {
          width: 400px;
          & #pageDown {
            font-size: 2rem;
            line-height: 3rem;
          }
        }
      }
    }
  }
}

@keyframes rotateBG {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
